.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(207, 35%, 12%);
  color: hsl(0, 0%, 100%);
}
.container .search {
  display: flex;
  flex-direction: column;
  width: 400px;
}
